

.Nav {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin: 0px;
   padding: 4px;
   background-color: rgba(8, 14, 24, 0.89);
   width: 100.1%;
   /* width 1499px */
   position: sticky;
}
html{
   padding: 0px;
   margin: -8px;
}
ul {
   list-style-type: none;
   margin: 0;
   padding: 0;

}

ul {
  
   display: flex;
   text-decoration: none;
   margin-left: 20px;
   margin-top: 10px;
   z-index: 5;
   font-size: 18px;


}
/* li tag */
ul li {
   padding: 10px 40px;
   display: inline;
   z-index: 5;
}
a {
   position: relatve;
  color: rgb(110, 104, 104);
   font-weight: 100;
   font-family: HeyComic;
   transition: 0.5s ease-in-out;
   text-decoration: none;

}
/* anchor hover effect */
a:hover {
  color: white;
}
 @font-face {
    font-family: HeyComic;
    src: url(Hey\ Comic.ttf);
 }
 @font-face {
    font-family: About;
    src: url(Insanibc.ttf);
 }

  /* .Nav{display: flex;
 justify-content: flex-start;
 align-items: center;
 margin: -10px;
 padding: 0px;
 background-color: rgba(8, 14, 24, 0.89);
 width: 1520px;} */