
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.bree-serif-regular {
   font-family: "Bree Serif", serif;
   font-weight: 400;
   font-style: normal;
 }
 
body{
   background-image: url(bg3.jpg);
   background-repeat: no-repeat;
   justify-content: center;
   align-items: center;
   background-size: cover;
   -moz-backface-visibility: 50%;  
   display: grid;
}
hr{
   width: 100%;
   background-color: darkorange;
   height: 2px;
   border: 0px none ;
}

/* .Nav {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin: 0px;
   padding: 4px;
   background-color: #2a9d8f;
   /* width: 100.1%;
   /* width 1499px */
   /* position: sticky;
   height: 70px;} */
 */ */
html{
   padding: 0px;
   margin: -8px;
}

h1{
   color: #ffffff;
   font-size: 100px;
   margin-top: 200px;
   opacity: 80%;
   font-family: Bree Serif;
   margin-left: 30px;
}
h3{
   color: #ffffff;
   font-size: 30px;
   opacity: 70%;
   font-family: HeyComic;
   margin-left: 30px;
   margin-top: -70px;
}
.hdd{
   display: grid;
   align-items: center; 
   justify-items: center;
}

ul {
  
   display: flex;
   text-decoration: none;
   margin-left: -600px;
   margin-top: 20px;
   z-index: 5;
   font-size: 18px;


}
/* li tag */
ul li {
   padding: 10px 40px;
   display: inline;
   z-index: 5;
}
a {
   position: relatve;
  color: #ffffff;
   font-weight: 100;
   /* font-family: HeyComic; */
   transition: 0.5s ease-in-out;
   text-decoration: none;

}
/* anchor hover effect */
a:hover {
  color: #f4a261  ;
}
 @font-face {
    font-family: HeyComic;
    src: url(Hey\ Comic.ttf);
 }
 @font-face {
    font-family: SERIF;
    src: url(BreeSerif-Regular.ttf);
 }
 @font-face {
    font-family: About;
    src: url(Insanibc.ttf);
 }

  /* .Nav{display: flex;
 justify-content: flex-start;
 align-items: center;
 margin: -10px;
 padding: 0px;
 background-color: rgba(8, 14, 24, 0.89);
 width: 1520px;} */